@import url("../layout/root.css");
@import url("../layout/pagination.css");

main {
    background-color: var(--branco);
    border-radius: 7px;
    box-shadow: var(--box-shadow);
    overflow-y: hidden !important;
}

.sem-gestor {
    color: black;
    text-align: center;
    font-size: 1.5rem;
}

td:nth-child(4) {
    text-transform: uppercase;
}

td:nth-child(1),
td:nth-child(5),
td:nth-child(4),
td:nth-child(6),
td:nth-child(7) {
    text-align: center;
}